@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
html,
body,
section,
header,
footer,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
ul,
li,
label,
input,
textarea,
select,
button,
table,
thead,
tbody,
tr,
th,
td,
i {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: normal;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.4; }

small {
  font-size: 12.8px;
  font-size: .8rem; }

ul {
  list-style: none; }

h1 {
  font-size: 32px;
  font-size: 2rem; }

h2 {
  font-size: 28.8px;
  font-size: 1.8rem; }

h3 {
  font-size: 25.6px;
  font-size: 1.6rem; }

h4 {
  font-size: 22.4px;
  font-size: 1.4rem; }

h5 {
  font-size: 19.2px;
  font-size: 1.2rem; }

h6 {
  font-size: 16px;
  font-size: 1rem; }

input,
textarea,
select {
  font-size: inherit;
  font-family: inherit; }

a {
  color: inherit;
  text-decoration: none; }

.icon {
  font-family: 'Material Icons';
  font-style: normal;
  font-size: inherit;
  display: inline;
  background: transparent;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  font-feature-settings: 'liga';
  vertical-align: text-bottom;
  line-height: 1.4; }

html {
  color: #424242;
  font-size: 16px;
  font-family: 'Noto Sans Japanese', sans-serif;
  font-weight: 200; }

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

#app {
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: #fff; }

a {
  cursor: pointer; }

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border: solid 1px #e0e0e0;
  padding: 3px 6px;
  border-radius: 2px;
  text-align: left;
  cursor: pointer; }

textarea,
input {
  border: solid 1px #e0e0e0;
  border-radius: 2px;
  padding: 3px 6px;
  line-height: 1.4;
  max-width: 100%; }

input[type=number] {
  text-align: right; }
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none; }

input[type=date] {
  text-align: right; }
  input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none; }
  input[type=date]::-webkit-clear-button {
    -webkit-appearance: none; }

select:focus,
input:focus,
textarea:focus {
  border: solid 1px #00bcd4; }

.size__inline {
  width: auto; }

.size__spread {
  width: 100%; }

.link {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 2px;
  color: #212121;
  background-color: inherit;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out; }
  .link:hover, .link:focus {
    background-color: #efefef; }
  .link:active {
    background-color: #666; }

.flat-input {
  padding: 4px 0;
  border: none;
  border-bottom: solid 1px #80deea;
  border-radius: 0;
  -webkit-transition: background .2s ease-out, -webkit-box-shadow .2s ease-out;
  transition: background .2s ease-out, -webkit-box-shadow .2s ease-out;
  transition: box-shadow .2s ease-out, background .2s ease-out;
  transition: box-shadow .2s ease-out, background .2s ease-out, -webkit-box-shadow .2s ease-out; }
  .flat-input:hover {
    -webkit-box-shadow: 0 1px 0 0 #80deea;
            box-shadow: 0 1px 0 0 #80deea; }
  .flat-input:focus {
    border: none;
    border-bottom: solid 1px #80deea;
    background: #fafafa;
    -webkit-box-shadow: 0 1px 0 0 #80deea;
            box-shadow: 0 1px 0 0 #80deea; }

.floating-input {
  display: inline-block;
  position: relative;
  margin-top: 19.2px;
  margin-top: 1.2rem; }
  .floating-input label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    -webkit-transition-property: font-size, top;
    transition-property: font-size, top; }
  .floating-input input[value=""] + label {
    font-size: 16px;
    font-size: 1rem;
    top: 0; }
  .floating-input label,
  .floating-input input:focus + label {
    font-size: 12px;
    font-size: .75rem;
    top: -22.4px;
    top: -1.4rem; }
  .floating-input input::-webkit-input-placeholder {
    color: transparent; }
  .floating-input input:focus::-webkit-input-placeholder {
    color: #9e9e9e; }

.flat-select {
  padding: 4px 0;
  border: none;
  border-bottom: solid 1px #80deea;
  border-radius: 0;
  -webkit-transition: background .2s ease-out, -webkit-box-shadow .2s ease-out;
  transition: background .2s ease-out, -webkit-box-shadow .2s ease-out;
  transition: box-shadow .2s ease-out, background .2s ease-out;
  transition: box-shadow .2s ease-out, background .2s ease-out, -webkit-box-shadow .2s ease-out; }
  .flat-select:hover {
    -webkit-box-shadow: 0 1px 0 0 #80deea;
            box-shadow: 0 1px 0 0 #80deea; }
  .flat-select:focus {
    border: none;
    border-bottom: solid 1px #80deea;
    background: #fafafa;
    -webkit-box-shadow: 0 1px 0 0 #80deea;
            box-shadow: 0 1px 0 0 #80deea; }

.flat-button {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 2px;
  color: #212121;
  background-color: inherit;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out; }
  .flat-button:hover, .flat-button:focus {
    background-color: #efefef; }
  .flat-button:active {
    background-color: #666; }

.floating-button {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 2px;
  color: #fff;
  background-color: #80deea;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  -webkit-transition-property: color, background, -webkit-box-shadow;
  transition-property: color, background, -webkit-box-shadow;
  transition-property: color, background, box-shadow;
  transition-property: color, background, box-shadow, -webkit-box-shadow; }
  .floating-button:hover, .floating-button:focus {
    background-color: #b2ebf2;
    -webkit-box-shadow: 0 3px 0 0 rgba(178, 235, 242, 0.3);
            box-shadow: 0 3px 0 0 rgba(178, 235, 242, 0.3); }
  .floating-button:active {
    background-color: #00bcd4; }

.icon-button {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 2px;
  color: #9e9e9e;
  background-color: inherit;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  -webkit-transition-property: color, background;
  transition-property: color, background; }
  .icon-button:hover, .icon-button:focus {
    color: #424242;
    background-color: #efefef; }
  .icon-button:active {
    color: #424242;
    background-color: #666; }
