@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
html,
body,
section,
header,
footer,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
ul,
li,
label,
input,
textarea,
select,
i {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: normal;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.4; }

small {
  font-size: 12.8px;
  font-size: .8rem; }

ul {
  list-style: none; }

h1 {
  font-size: 32px;
  font-size: 2rem; }

input,
textarea,
select {
  font-size: inherit;
  font-family: inherit; }

a {
  color: inherit;
  text-decoration: none; }

.icon {
  font-family: 'Material Icons';
  font-style: normal;
  font-size: inherit;
  display: inline;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  font-feature-settings: 'liga';
  vertical-align: text-bottom;
  line-height: 1.4; }

html {
  color: #424242;
  font-size: 16px;
  font-family: 'Noto Sans Japanese', sans-serif;
  font-weight: 200; }

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

#app {
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: #fff; }

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border: solid 1px #9e9e9e;
  padding: 3px 6px;
  border-radius: 2px;
  text-align: left;
  cursor: pointer; }

textarea,
input {
  border: solid 1px #9e9e9e;
  border-radius: 2px;
  padding: 3px 6px; }

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none; }

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none; }

input[type=date]::-webkit-clear-button {
  -webkit-appearance: none; }

select:focus,
input:focus,
textarea:focus {
  border: solid 1px #00bcd4; }

.account-section {
  display: inline-block;
  padding: 8px;
  width: 300px;
  vertical-align: top; }
  .account-section h2 {
    font-weight: 100;
    padding: 8px;
    margin-bottom: 8px; }

.account-list-item {
  position: relative; }
  .account-list-item .account-list-item-content {
    display: inline-block;
    width: 100%;
    cursor: pointer; }
    .account-list-item .account-list-item-content .account-list-item-content-name {
      display: inline-block;
      width: 100%;
      padding: 4px;
      font-size: 12.8px;
      font-size: .8rem;
      color: #9e9e9e; }
      .account-list-item .account-list-item-content .account-list-item-content-name input {
        width: 100%;
        border: none; }
      .account-list-item .account-list-item-content .account-list-item-content-name .account-list-item-delete-button {
        display: inline-block;
        cursor: pointer;
        margin-left: 4px;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transition: opacity .2s ease-out;
        transition: opacity .2s ease-out; }
        .account-list-item .account-list-item-content .account-list-item-content-name .account-list-item-delete-button span {
          color: #9e9e9e;
          -webkit-transition: color .2s ease-out;
          transition: color .2s ease-out; }
          .account-list-item .account-list-item-content .account-list-item-content-name .account-list-item-delete-button span:hover {
            color: #424242; }
      .account-list-item .account-list-item-content .account-list-item-content-name:hover .account-list-item-delete-button {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
    .account-list-item .account-list-item-content .account-list-item-content-amount {
      display: inline-block;
      width: 100%;
      padding: 4px;
      text-align: right;
      font-size: 19.2px;
      font-size: 1.2rem; }
      .account-list-item .account-list-item-content .account-list-item-content-amount input {
        width: 100%;
        text-align: right;
        border: none; }
      .account-list-item .account-list-item-content .account-list-item-content-amount .account-list-item-content-amount-currency-code {
        font-size: 12.8px;
        font-size: .8rem;
        margin-right: 4px;
        color: #9e9e9e; }
  .account-list-item .account-list-item-done-button {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    cursor: pointer; }
    .account-list-item .account-list-item-done-button span {
      color: #9e9e9e;
      -webkit-transition: color .2s ease-out;
      transition: color .2s ease-out; }
      .account-list-item .account-list-item-done-button span:hover {
        color: #424242; }

.account-create-button {
  color: #9e9e9e;
  text-align: right;
  font-size: 12.8px;
  font-size: .8rem;
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out; }
  .account-create-button span {
    margin-right: 4px; }
  .account-create-button:hover {
    color: #424242; }

.account-create-form {
  position: relative;
  display: inline-block; }
  .account-create-form .account-create-form-content {
    display: inline-block;
    width: 100%;
    cursor: pointer; }
    .account-create-form .account-create-form-content .account-create-form-content-name {
      display: inline-block;
      width: 100%;
      padding: 4px;
      font-size: 12.8px;
      font-size: .8rem;
      color: #9e9e9e; }
      .account-create-form .account-create-form-content .account-create-form-content-name input {
        width: 100%;
        border: none; }
    .account-create-form .account-create-form-content .account-create-form-content-amount {
      display: inline-block;
      width: 100%;
      padding: 4px;
      text-align: right;
      font-size: 19.2px;
      font-size: 1.2rem; }
      .account-create-form .account-create-form-content .account-create-form-content-amount input {
        width: 100%;
        text-align: right;
        border: none; }
  .account-create-form .account-create-form-button-box {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    cursor: pointer; }
    .account-create-form .account-create-form-button-box span {
      color: #9e9e9e;
      -webkit-transition: color .2s ease-out;
      transition: color .2s ease-out; }
      .account-create-form .account-create-form-button-box span:hover {
        color: #424242; }

.transaction-section {
  display: inline-block;
  padding: 8px;
  width: 300px;
  vertical-align: top; }
  .transaction-section h2 {
    font-weight: 100;
    padding: 8px;
    margin-bottom: 8px; }

.transaction-create-form-tab {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px; }
  .transaction-create-form-tab .transaction-create-form-tab-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 8px 0;
    text-align: center;
    color: #9e9e9e;
    cursor: pointer; }
    .transaction-create-form-tab .transaction-create-form-tab-item.transaction-create-form-tab-item__active {
      color: #424242;
      border-bottom: solid 2px #80deea; }

.transaction-create-form-table {
  width: 100%; }
  .transaction-create-form-table tr td .cell-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%; }
  .transaction-create-form-table tr td input[value] + label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: font-size .2s ease-out, top .2s ease-out;
    transition: font-size .2s ease-out, top .2s ease-out; }
  .transaction-create-form-table tr td input:focus + label {
    font-size: 12.8px;
    font-size: .8rem;
    top: -16px;
    top: -1rem; }
  .transaction-create-form-table tr td select,
  .transaction-create-form-table tr td input {
    width: 100%;
    border: none;
    border-bottom: solid 1px #80deea;
    border-radius: 0;
    -webkit-transition: -webkit-box-shadow .2s ease-out;
    transition: -webkit-box-shadow .2s ease-out;
    transition: box-shadow .2s ease-out;
    transition: box-shadow .2s ease-out, -webkit-box-shadow .2s ease-out; }
    .transaction-create-form-table tr td select::-webkit-input-placeholder,
    .transaction-create-form-table tr td input::-webkit-input-placeholder {
      color: transparent; }
    .transaction-create-form-table tr td select:hover,
    .transaction-create-form-table tr td input:hover {
      -webkit-box-shadow: 0 1px 0 0 #80deea;
              box-shadow: 0 1px 0 0 #80deea; }
    .transaction-create-form-table tr td select:focus,
    .transaction-create-form-table tr td input:focus {
      background: #fafafa; }
      .transaction-create-form-table tr td select:focus::-webkit-input-placeholder,
      .transaction-create-form-table tr td input:focus::-webkit-input-placeholder {
        color: #9e9e9e; }
  .transaction-create-form-table tr td input[type="number"] {
    text-align: right;
    font-size: 19.2px;
    font-size: 1.2rem; }
  .transaction-create-form-table tr td input[type="date"] {
    text-align: right; }

.transaction-create-button {
  background-color: #80deea;
  padding: 4px;
  text-align: center;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out; }
  .transaction-create-button:hover {
    background-color: #b2ebf2; }
