@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css)

$timing-basic: 100ms ease-out
$timing-slow: 200ms ease-out

$font-base-size: 16px

.icon
  font-family: 'Material Icons'
  font-style: normal
  font-size: inherit
  display: inline
  text-rendering: optimizeLegibility
  font-smoothing: antialiased
  font-feature-settings: 'liga'
  vertical-align: text-bottom
  line-height: 1.4

html
  color: $color-text
  font-size: $font-base-size
  font-family: 'Noto Sans Japanese', sans-serif

html,
body,
  width: 100%
  height: 100%
  overflow: hidden

#app
  width: 100%
  height: 100%
  overflow: scroll
  background: $color-background

select
  appearance: none
  background-color: #fff
  border: solid 1px $color-divider
  padding: 3px 6px
  border-radius: 2px
  text-align: left
  cursor: pointer
  font-size: inherit

textarea,
input
  border: solid 1px $color-divider
  border-radius: 2px
  padding: 3px 6px

input[type=number]
  &::-webkit-inner-spin-button
    -webkit-appearance: none

input[type=date]
  &::-webkit-inner-spin-button
    -webkit-appearance: none
  &::-webkit-clear-button
    -webkit-appearance: none

select,
input,
textarea
  &:focus
    border: solid 1px $color-primary-dark
