.dashboard-page
  h2
    margin-bottom: 32px

  .dashboard-page-content
    $width-main-column: 780px
    $width-sub-column: 400px

    width: $width-main-column + $width-sub-column
    margin: 64px auto 32px

    .dashboard-page-sub-column
      display: inline-block
      width: $width-sub-column
      padding: 8px
      vertical-align: top

    .dashboard-page-main-column
      display: inline-block
      width: $width-main-column
      border-left: solid 1px $color-divider
      padding: 8px 8px 8px 24px
      vertical-align: top

    .transaction-create-section
      display: inline-block
      width: 320px
      padding: 8px
      vertical-align: top

    .summary-section
      display: inline-block
      width: calc(100% - 320px)
      height: 400px
      line-height: 400px
      text-align: center
      color: #fff
      padding: 8px
      background: gray
      vertical-align: top

    .transaction-section
      display: inline-block
      width: 100%
      vertical-align: top

    .account-section
      display: inline-block
      width: 100%
      vertical-align: top
