.transaction-section
  display: inline-block
  padding: 8px
  width: 300px
  vertical-align: top
  h2
    font-weight: 100
    padding: 8px
    margin-bottom: 8px

.transaction-create-form-tab
  margin-bottom: 12px
  .transaction-create-form-tab-item
    display: inline-block
    width: 33.3%
    padding: 8px 0
    text-align: center
    &.transaction-create-form-tab-item__active
      border-bottom: solid 2px $color-primary
