.transaction-create-form
  display: inline-block
  width: 100%
  .transaction-create-form-tab
    display: flex
    margin-bottom: 12px
    border-bottom: $border
    .transaction-create-form-tab-item
      flex: 1
      padding: 8px 0
      text-align: center
      color: $color-text-secondary
      background-color: inherit
      cursor: pointer
      transition: color .2s ease-out, box-shadow .2s ease-out
      &:focus,
      &:hover
        color: $color-text
        box-shadow: 0 2px 0 0 $color-primary-light
      #{&}__active
        color: $color-text
        font-weight: $font-weight-bold
        box-shadow: 0 2px 0 0 $color-primary
        cursor: default
  .transaction-category-edit-button-container
    text-align: right
    padding: 16px 0;

  .transaction-create-form-table
    width: 100%
    tr
      th
        font-weight: inherit
        text-align: left
        color: $color-text-secondary
      td
        width: 33%
        select,
        input
          margin-bottom: 12px
        .floating-input-container
          margin-top: 8px
        label
          color: $color-text-secondary
